<main class="main">
    <el-breadcrumb class="breadcrumb">
        <el-breadcrumb-item>系统管理</el-breadcrumb-item>
        <el-breadcrumb-item>
            <span v-if="navData.length === 0">字典管理</span>
            <el-link v-else type="primary" :underline="false" @click="handleNavClick({id: 0, idx:-1})">字典管理</el-link>
        </el-breadcrumb-item>
        <el-breadcrumb-item v-for="(item, idx) in navData" :key="item.id">
            <span v-if="idx === navData.length - 1">{{item.dictValue}}</span>
            <el-link v-else type="primary" :underline="false" @click="handleNavClick(item)">{{item.dictValue}}</el-link>
        </el-breadcrumb-item>
    </el-breadcrumb>
    <div class="main__bd">
        <el-row>
            <el-col :span="4">
                <el-button type="primary" plain icon="el-icon-plus" @click="handleAdd"></el-button>
            </el-col>
            <el-col :span="12" :offset="2">
                <el-input v-model="queryForm.keyword" placeholder="请输入搜索内容" v-on:keyup.native.enter="handleSearch">
                    <el-button slot="append" icon="el-icon-search" @click="handleSearch"></el-button>
                </el-input>
            </el-col>
        </el-row>

        <el-table :border="true" :data="page.results" row-key="id" width="100%">
            <el-table-column label="顺序" prop="orderNum" width="70px" />
            <el-table-column label="字典key" min-width="150px" v-slot="{row}">
                <span v-if="navData.length > 2">{{row.dictKey}}</span>
                <el-link v-else type="primary" :underline="false" @click="handleRowClick(row)">{{row.dictKey}}</el-link>
            </el-table-column>
            <el-table-column label="字典值" prop="dictValue" min-width="150px" />
            <el-table-column label="备注" prop="remark" min-width="160px" />
            <el-table-column label="创建时间" prop="gmtCreated" min-width="160px" />
            <el-table-column label="操作" min-width="100px" v-slot="{row}">
                <el-link type="primary" icon="el-icon-edit" :underline="false" @click="handleEdit(row)" />
                <el-link class="ml-10" type="danger" icon="el-icon-delete" :underline="false" @click="handleDelete(row)" />
            </el-table-column>
        </el-table>
        <el-pagination layout="total, prev, pager, next" :current-page.sync="queryForm.pageNum"
            :page-size="queryForm.pageSize" :total="page.totalRecords" @current-change="handlePageNumChange"
            @prev-click="handlePageNumChange(queryForm.pageNum - 1)"
            @next-click="handlePageNumChange(queryForm.pageNum + 1)">
        </el-pagination>
    </div>

    <!-- 编辑弹框 -->
    <el-dialog :title="editFormConfig.title" :visible.sync="editFormConfig.visible" width="660px" top="10vh"
        :close-on-click-modal="false">
        <el-form :model="editForm" label-width="100px" label-suffix=":">
            <el-form-item label="父节点">
                <span>{{editFormConfig.parent}}</span>
            </el-form-item>
            <el-form-item label="字典key">
                <el-input v-model="editForm.dictKey"></el-input>
            </el-form-item>
            <el-form-item label="字典值">
                <el-input v-model="editForm.dictValue"></el-input>
            </el-form-item>
            <el-form-item label="顺序号">
                <el-input v-model="editForm.orderNum" type="number"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input type="textarea" v-model="editForm.remark"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="t-center">
            <el-button @click="editFormConfig.visible = false">取 消</el-button>
            <el-button type="primary" @click="doEdit">确 定</el-button>
        </div>
    </el-dialog>
</main>
<script>
    return {
        data: function () {
            return {
                queryForm: {
                    parentId: this.$route.query.parentId || 0,
                    pageNum: 1,
                    pageSize: 20
                },
                page: [],
                navData: [],
                expandKeys: [],
                keyword: '',
                editFormConfig: {
                    visible: false,
                    isAdd: true,
                    title: '',
                    parent: ""
                },
                editForm: {}
            }
        },
        created: function () {
            this.initData()
        },
        methods: {
            initData: function () {
                Tools.http.get('/api/dict/list', this.queryForm)
                    .then(res => this.page = res.data)
            },
            handleSearch: function () {
                console.log('click')
                this.initData()
            },
            handleAdd() {
                this.editForm = { parentId: this.queryForm.parentId }
                this.editFormConfig.title = '新增字典'
                var len = this.navData.length
                this.editFormConfig.parent = len > 0 ? this.navData[len - 1].dictKey : '--'
                this.editFormConfig.isAdd = true
                this.editFormConfig.visible = true
            },
            handleEdit(node) {
                this.editForm = Object.assign({}, node)
                this.editFormConfig.title = '修改字典'
                this.editFormConfig.isAdd = false
                this.editFormConfig.visible = true
            },
            doEdit() {
                let url = '/api/dict'
                let editRes = this.editFormConfig.isAdd ? Tools.http.postJson(url, this.editForm)
                    : Tools.http.putJson(url, this.editForm)
                editRes.then(res => {
                    this.$message.success(this.editFormConfig.title + '成功')
                    this.initData()
                    this.editFormConfig.visible = false
                })
            },
            handleRowClick: function (row) {
                this.queryForm.parentId = row.id
                var navItem = Object.assign({}, row)
                navItem.idx = this.navData.length
                this.initData()
                this.navData.push(navItem)
            },
            handleNavClick(row) {
                this.queryForm.parentId = row.id
                if (row.idx == -1) {
                    this.navData = []
                } else {
                    this.navData = this.navData.slice(0, row.idx + 1)
                }
                this.initData()
            },
            handlePageNumChange(pageNum) {
                this.queryForm.pageNum = pageNum
                this.initData()
            },
            handleDelete(node) {
                this.$confirm('确定删除字典' + node.dictKey, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    closeOnClickModal: false,
                    type: 'warning'
                }).then(_ => Tools.http.delete('/api/dict/' + node.id))
                    .then(res => {
                        this.$message.success('删除字典成功')
                        this.initData()
                    })
            }
        }
    }
</script>