<main class="main">
    <el-breadcrumb class="breadcrumb">
        <el-breadcrumb-item>系统管理</el-breadcrumb-item>
        <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="main__bd">

        <el-row>
            <el-col :span="4">
                <el-button type="primary" plain icon="el-icon-plus" @click="handleAdd('')"></el-button>
            </el-col>
            <el-col :span="12" :offset="2">
                <el-input v-model="keyword" placeholder="试试输入名称或备注" v-on:keyup.native.enter="handleSearch">
                    <el-button slot="append" icon="el-icon-search" @click="handleSearch"></el-button>
                </el-input>
            </el-col>
        </el-row>

        <el-table :border="true" :data="showData" row-key="id" :expand-row-keys="expandKeys" width="100%">
            <el-table-column label="名称" prop="name" width="180px" v-slot="{row}">
                <span>{{row.name}}</span>
                <el-tag v-if="row.type==='button'" size="mini">按钮</el-tag>
            </el-table-column>
            <el-table-column label="图标" width="70px" v-slot="{row}">
                <i :class="row.icon"></i>
            </el-table-column>
            <el-table-column label="顺序" prop="orderNum" width="70px" />
            <el-table-column prop="authCode" label="权限标识" min-width="120px" />
            <el-table-column label="url" prop="url" min-width="200px" />
            <el-table-column label="状态" width="70px" v-slot="{row}">
                <el-switch v-if="row.type==='menu'" v-model="row.enabled" @change="handleChangeStatus(row, $event)" />
            </el-table-column>
            <el-table-column label="操作" min-width="120px" v-slot="{row}">
                <el-link type="primary" icon="el-icon-plus" :underline="false" @click="handleAdd(row)" />
                <el-link class="ml-10" type="primary" icon="el-icon-edit" :underline="false" @click="handleEdit(row)" />
                <el-link class="ml-10" type="danger" icon="el-icon-delete" :underline="false" @click="handleDelete(row)" />
            </el-table-column>
        </el-table>
    </div>

    <el-dialog :title="editFormConfig.title" :visible.sync="editFormConfig.visible" width="660px" top="10vh"
        :close-on-click-modal="false" @opened="handleEditFormOpened">
        <el-form :model="editForm" label-width="100px" label-suffix=":">
            <el-form-item label="父节点">
                <span v-if="editFormConfig.isAdd">{{editFormConfig.parent}}</span>
                <el-select ref="nodeSelect" v-else v-model="editFormConfig.parent" class="w-100">
                    <el-option class="h-100 bg-white" :value="editForm.parentId" :label="editFormConfig.parent">
                        <el-tree ref="updateTree" :data="[{id:0, name:'全部',children:menuList}]"
                            :props="{label: 'name'}" node-key="id" :default-expanded-keys="[0]"
                            :expand-on-click-node="false" @node-click="handleNodeClick" />
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="类型">
                <el-radio-group v-model="editForm.type">
                    <el-radio label="menu">菜单</el-radio>
                    <el-radio label="button">按钮</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="名称">
                <el-input v-model="editForm.name"></el-input>
            </el-form-item>
            <el-form-item label="权限码">
                <el-input v-model="editForm.authCode"></el-input>
            </el-form-item>
            <el-form-item label="url" v-if="editForm.type == 'menu'">
                <el-input v-model="editForm.url"></el-input>
            </el-form-item>
            <el-form-item label="图标" v-if="editForm.type == 'menu'">
                <el-input v-model="editForm.icon"></el-input>
            </el-form-item>
            <el-form-item label="顺序号">
                <el-input v-model="editForm.orderNum" type="number"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="t-center">
            <el-button @click="editFormConfig.visible = false">取 消</el-button>
            <el-button type="primary" @click="doEdit">确 定</el-button>
        </div>
    </el-dialog>
</main>
<script>
    return {
        data: function () {
            return {
                menuList: [],
                showData: [],
                expandKeys: [],
                keyword: '',
                editFormConfig: {
                    visible: false,
                    isAdd: true,
                    title: '',
                    parent: ""
                },
                editForm: {}
            }
        },
        created: function () {
            this.initMenuTree()
        },
        methods: {
            initMenuTree: function () {
                Tools.http.get('/api/menu/tree')
                    .then(res => {
                        this.menuList = res.data
                        this.showData = res.data
                    })
            },
            handleAdd(parentNode) {
                this.editForm = { type: 'menu' }
                this.editFormConfig.title = '新增菜单'
                this.editFormConfig.parent = parentNode ? parentNode.name : '--'
                this.editFormConfig.isAdd = true
                this.editFormConfig.visible = true
                this.editForm.parentId = parentNode ? parentNode.id : 0
            },
            handleEdit(node) {
                this.editForm = Object.assign({}, node)
                this.editFormConfig.title = '修改菜单'
                this.editFormConfig.isAdd = false
                this.editFormConfig.visible = true
            },
            handleEditFormOpened() {
                if (!this.editFormConfig.isAdd) {
                    var treeNode = this.$refs.updateTree.getNode(this.editForm.parentId)
                    this.editFormConfig.parent = (treeNode && treeNode.data.name) || '--'
                }
            },
            doEdit() {
                let url = '/api/menu'
                let editRes = this.editFormConfig.isAdd ? Tools.http.postJson(url, this.editForm)
                    : Tools.http.putJson(url, this.editForm)
                editRes.then(res => {
                    this.$message.success(this.editFormConfig.title + '成功')
                    this.initMenuTree()
                    this.editFormConfig.visible = false
                })
                
            },
            handleNodeClick(nodeData) {
                this.editFormConfig.parent = nodeData.name
                this.editForm.parentId = nodeData.id
                this.$refs.nodeSelect.blur()
            },
            handleDelete(node) {
                if (node.children && node.children.length > 0) {
                    this.$message.error(node.name + '存在子节点, 无法删除')
                    return
                }
                this.$confirm('确定删除菜单' + node.name, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    closeOnClickModal: false,
                    type: 'warning'
                }).then(_ => Tools.http.delete('/api/menu/' + node.id))
                    .then(res => {
                        this.$message.success('删除菜单成功')
                        this.initMenuTree()
                    })
            },
            handleChangeStatus(row, value) {
                Tools.http.postJson('/api/menu/change/status/' + row.id)
                    .then(res => {
                        this.$message.success('更新状态成功')
                    })
            },
            handleSearch() {
                this.expandKeys = []
                this.showData = this.filterNode(this.keyword, this.menuList)
            },
            filterNode(keyword, itemList) {
                if (!itemList) {
                    return []
                }
                return itemList.map(item => Object.assign({}, item)).filter(item => {
                    if (item.children) {
                        item.children = this.filterNode(keyword, item.children)
                    }
                    if (item.children && item.children.length > 0) {
                        this.expandKeys.push(item.id + '')
                        return true
                    }
                    return this.isNodeMatch(keyword, item)
                })
            },
            isNodeMatch(keyword, item) {
                if (keyword) {
                    return (item.name && item.name.indexOf(keyword) !== -1)
                        || (item.remark && item.remark.indexOf(keyword) !== -1)
                }
                return true;
            }
        }
    }
</script>